<div ng-include="'menu.html'"></div>
<div class="loginbody_container">
    <h2>Muokkaa/Poista Hevosen Terveystietoja</h2>
    <h4 class="oma_h4">Hevonen</h4>
        <select required class="form-control center-block" style = "width:250px; padding-left: 90px" ng-model ="Hevonen">
            <option ng-repeat="horse in document" >
               {{horse}}
            </option>
        </select>
    <h4>Rokotukset</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Rokotukset"/>
    <h4>Madotukset</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Madotukset"/>
    <h4>Hieronnat</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Hieronnat"/>
    <h4>Yleistä</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Yleista"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update(horse._id)'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <a href="#/healthHorse" class="btn btn-primary">Palaa</a>
</div>