<div ng-include="'menu.html'"></div>
<div class="loginbody_container">
    <h2>Muokkaa/Poista Hevosten Tuntimerkintöjä</h2>
    <h4>Aika</h4>
    <input type='text' class="form-control text-left" style = "width:250px" ng-model= "Aika"/>
    <h4 class="oma_h4">Hevonen</h4>
        <select required class="form-control center-block" style = "width:250px; padding-left: 90px" ng-model ="Hevonen">
            <option ng-repeat="horse in document" >
               {{horse}}
            </option>
        </select>
    <h4>Laji</h4>
    <select required name="Laji" class='form-control center-block center-value' style = 'width:250px;padding-left: 100px' ng-model ="Laji">
        <option value="" disabled selected>Laji</option>
        <option value="Koulu">Koulu</option>
        <option value="Este">Este</option>
        <option value="Puomi">Puomi</option>
        <option value="Maasto">Maasto</option>
        <option value="Talutus">Talutus</option>
        <option value="Yleistunti">Yleistunti</option>
    </select>
    <h4>Tunnit</h4>
    <input type="number"  min="0"  step="0.5" class="form-control text-left" style = "width:250px" ng-model= "Tunnit"/>
    <input type='button' class='btn btn-primary' value='Päivitä' ng-click='update(horse._id)'/>
    <input type='button' class='btn btn-primary' value='Poista' ng-click='delete()'/>
    <a href="#/horseHour" class="btn btn-primary">Palaa</a>
</div>