<div ng-include="'menu.html'"></div>
<div class="loginbody_container">
    <h1 class="oma_h1">Hevosten Tarhaukset</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th ng-click="order('Hevonen')">Hevonen  <span class="sortorder" ng-class="{reverse:reverse}"></span></th>
            <th>Aamutarha</th>
            <th>Päivätarha</th>
              <th>Iltatarha</th>
            <th>Huomio</th>
            <th>Muokkaa</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="horse in collectionData | orderBy:'Hevonen' | orderBy:predicate:reverse">
            <td>{{horse.Hevonen}}</td>
            <td>{{horse.Aamutarha}}</td>
            <td>{{horse.Paivatarha}}</td>
            <td>{{horse.Iltatarha}}</td>
            <td>{{horse.Huomio}}</td>
            <td><input type="button" class="btn btn-primary" value="Muokkaa" ng-click='modify(horse._id)'/></td>
          </tr>
        </tbody>
    </table>
    <input class='btn btn-primary' value="Lisää Tarhaus" ng-click='add()'>
    <div class="flash-style" flash-message="2000"></div> 
</div>
