<div ng-include="'menu.html'"></div>
<div class="loginbody_container">
    <h1 class="oma_h1">Työntekijöiden Työtunnit</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th ng-click="order('Ilmoittaja')">Ilmoittaja  <span class="sortorder" ng-class="{reverse:reverse}"></span></th>
            <th>Päivä</th>
            <th ng-click="order('Tehtava')">Tehtävä  <span class="sortorder" ng-class="{reverse:reverse}"></span></th>
            <th>Tunnit</th>
            <th>Muokkaa</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in collectionData | orderBy:'Ilmoittaja' | orderBy:predicate:reverse">
            <td>{{person.Ilmoittaja}}</td>
            <td>{{person.Paiva}}</td>
            <td>{{person.Tehtava}}</td>
            <td>{{person.Tunnit}}</td>
            <td><input type="button" class="btn btn-primary" value="Muokkaa" ng-click='modify(person._id)'/></td>
          </tr>
        </tbody>
    </table>
    <input class='btn btn-primary' value="Lisää Tunteja" ng-click='add()'>
    <div class="flash-style" flash-message="2000"></div> 
</div>